<form class="row" [formGroup]="service.employeeForm" (submit)="onSubmit()" [class.submitted]="submitted">
    <div class="col-12 mb-3">
        <label class="form-label">Full Name</label>
        <input class="form-control form-control-lg" placeholder="Enter your full name" formControlName="fullName">
    </div>
    <div class="col-12 mb-3">
        <label class="form-label">Location</label>
        <input class="form-control form-control-lg" placeholder="City, country" formControlName="location">
    </div>
    <div class="col-6 mb-3">
        <label class="form-label">Position</label>
        <input class="form-control form-control-lg" placeholder="Designation" formControlName="position">
    </div>
    <div class="col-6 mb-3">
        <label class="form-label">Salary</label>
        <input class="form-control form-control-lg" placeholder="Per year" formControlName="salary" type="number">
    </div>
    <div class="col-12 d-grid">
        <button class="btn btn-lg btn-primary" type="submit">Submit</button>
    </div>
</form>